@model RoleManagementVM

<form method="post">
	<input asp-for="ApplicationUser.Id" hidden></input>
	<div class=" p-3  mt-2">
		<div class="row">
			<h2 class="p-0"> Manage User Role</h2>
		</div>
		<hr />
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label class="mb-2">User Name</label>
			<input asp-for="ApplicationUser.Name" type="text" class=" form-control" readonly />
			<span asp-validation-for="ApplicationUser.Name" class="text-danger "></span>
		</div>
		<div class="form-floating py-2 col-12">
			<select asp-for="ApplicationUser.Role" asp-items="@Model.RoleList" class="form-select p-2"></select>
		</div>
		@{
			var display = "display:none;";
		}

		@if (Model.ApplicationUser.Role == StaticDetails.Role_Company)
		{
			display = "display:bolck;";
		}
		else
		{
			display = "display:none;";
		}

		<div class="form-floating py-2 col-12">
			<select asp-for="ApplicationUser.CompanyId" style="@display" asp-items="@Model.CompanyList" class="form-select p-2"></select>
		</div>


		<div class="row mt-2">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-success form-control" >Update Role</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="User" asp-action="Index" class="btn btn-secondary form-control"> Back to List </a>
			</div>
		</div>

	</div>

</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial"/>
	}

	<script>
		$(document).ready(
			function () {
				$('#ApplicationUser_Role').change(function () {
					let selection = $('#ApplicationUser_Role Option:Selected').text();
					if (selection == "Company") {
						$("#ApplicationUser_CompanyId").show();

					} else {
						$("#ApplicationUser_CompanyId").hide();
					}
				})
			}
		)
	</script>
}
